<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_ICalculateThousandthDay" />
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8080/SelfService.ThousandDays/CalculateThousandthDayService"
          binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ICalculateThousandthDay"
          contract="ICalculateThousandthDay" name="WSHttpBinding_ICalculateThousandthDay">
        <identity>
          <userPrincipalName value="ONUR\Onur" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>