<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="SearchForChampionsServiceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:39910/SearchForChampionsService.asmx"
                binding="basicHttpBinding" bindingConfiguration="SearchForChampionsServiceSoap"
                contract="SearchForChampionsService.SearchForChampionsServiceSoap"
                name="SearchForChampionsServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>