<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5.2"/>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="WeatherSoap" />
        <binding name="AddTwoNumbersSoap" />
        <binding name="AddThreeNumbersSoap" />
        <binding name="SubtractTwoNumbersSoap" />
        <binding name="GetNamesDayDateServiceSoap" />
        <binding name="AnimatedOscarWinningMovieSoap" />
        <binding name="WorstMaleActorWinnerSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:21135/Weather.asmx" binding="basicHttpBinding"
        bindingConfiguration="WeatherSoap" contract="WeatherService.WeatherSoap"
        name="WeatherSoap" />
      <endpoint address="http://localhost:31941/AddTwoNumbers.asmx"
        binding="basicHttpBinding" bindingConfiguration="AddTwoNumbersSoap"
        contract="AddTwoNumbersService.AddTwoNumbersSoap" name="AddTwoNumbersSoap" />
      <endpoint address="http://localhost:32831/AddThreeNumbers.asmx"
        binding="basicHttpBinding" bindingConfiguration="AddThreeNumbersSoap"
        contract="AddThreeNumbersService.AddThreeNumbersSoap" name="AddThreeNumbersSoap" />
      <endpoint address="http://localhost:33075/SubtractTwoNumbers.asmx"
        binding="basicHttpBinding" bindingConfiguration="SubtractTwoNumbersSoap"
        contract="SubtractTwoNumbersService.SubtractTwoNumbersSoap"
        name="SubtractTwoNumbersSoap" />
      <endpoint address="http://localhost:19581/GetNamesDayDateService.asmx"
        binding="basicHttpBinding" bindingConfiguration="GetNamesDayDateServiceSoap"
        contract="GetNamesDayDateService.GetNamesDayDateServiceSoap"
        name="GetNamesDayDateServiceSoap" />
      <endpoint address="http://localhost:30124/AnimatedOscarWinningMovie.asmx"
        binding="basicHttpBinding" bindingConfiguration="AnimatedOscarWinningMovieSoap"
        contract="AnimatedOscarWinnersService.AnimatedOscarWinningMovieSoap"
        name="AnimatedOscarWinningMovieSoap" />
      <endpoint address="http://localhost:32144/WorstMaleActorWinner.asmx"
        binding="basicHttpBinding" bindingConfiguration="WorstMaleActorWinnerSoap"
        contract="WorstMaleActorWinnerService.WorstMaleActorWinnerSoap"
        name="WorstMaleActorWinnerSoap" />
    </client>
  </system.serviceModel>
</configuration>