<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_ISearchForChampion" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/SelfService.Hobby/SearchForChampionService"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ISearchForChampion"
                contract="ISearchForChampion" name="WSHttpBinding_ISearchForChampion">
                <identity>
                    <userPrincipalName value="ONUR\Onur" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>