<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="CalculateThousandthDayServiceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:37260/CalculateThousandthDayService.asmx"
                binding="basicHttpBinding" bindingConfiguration="CalculateThousandthDayServiceSoap"
                contract="CalculateThousandthDayService.CalculateThousandthDayServiceSoap"
                name="CalculateThousandthDayServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>