<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IBMICalculator" />
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8080/SelfService.BMI/BMICalculatorService"
          binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IBMICalculator"
          contract="IBMICalculator" name="WSHttpBinding_IBMICalculator">
        <identity>
          <userPrincipalName value="ONUR\Onur" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>