<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="CalculateAgeServiceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:35944/CalculateAgeService.asmx"
                binding="basicHttpBinding" bindingConfiguration="CalculateAgeServiceSoap"
                contract="CalculateAgeService.CalculateAgeServiceSoap" name="CalculateAgeServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>