<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="CalculateBMIServiceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:33614/CalculateBMIService.asmx"
                binding="basicHttpBinding" bindingConfiguration="CalculateBMIServiceSoap"
                contract="CalculateBMIService.CalculateBMIServiceSoap" name="CalculateBMIServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>