<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_ICalculateAge" />
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8080/SelfService.CalculateAge/CalculateAgeService"
          binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ICalculateAge"
          contract="ICalculateAge" name="WSHttpBinding_ICalculateAge">
        <identity>
          <userPrincipalName value="ONUR\Onur" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>